<div class="home_top">
    <ul class="lunbo">
        <li><img src="img/download/1.jpg" /></li>
        <li><img src="img/download/2.jpg" /></li>
        <li><img src="img/download/3.jpg" /></li>
        <li><img src="img/download/4.jpg" /></li>
        <li><img src="img/download/5.jpg" /></li>
    </ul>
</div>
<a class="lunbo_left" ng-click="pre()" href="javascript:void(0)">&#60;</a>
<a class="lunbo_right" ng-click="next()" href="javascript:void(0)">&#62;</a>
<div class="home_bottom">
    <div class="gallery">
    	<img src="img/download/house.png"/>
    	<h2>House</h2>
    	<p>Ball-pen(single color)</p>
    </div>
    <div class="gallery">
    	<img src="img/download/girl.png"/>
    	<h2>Girl</h2>
    	<p>Ball-pen(single color)</p>
    </div>
    <div class="gallery">
    	<img src="img/download/cat.png"/>
    	<h2>Cat</h2>
    	<p>Ball-pen(single color)</p>
    </div>
    
</div>